<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>
</head>
<body>
	<div>
		<ul th:each="carnet:${carnets}">
			<li th:text="${carnet.id}"></li>
			<li th:text="${carnet.civilite}"></li>
			<li th:text="${carnet.nom}"></li>
			<li th:text="${carnet.prenom}"></li>
			<li th:text="${carnet.dateDeNaissance}"></li>
			<li th:text="${carnet.tel}"></li>
			<li th:text="${carnet.email}"></li>
			<li th:text="${carnet.cp}"></li>
			<li th:text="${carnet.ville}"></li>
		</ul>
	</div>
</body>
</html>