<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Formulaire</title>
<style>
label {
	display: inline-block;
	width: 150px;
}
p{
color: red;
}
</style>
</head>
<body>
	<form th:action="@{/formulaire}" th:object="${carnet}" method="post">
		<label for="m"> Monsieur</label> <input type="radio" id="m"
			th:field="*{civilite}" value="MONSIEUR" checked /> <label for="mme">
			Madame</label> <input type="radio" id="mme" th:field="*{civilite}"
			value="MADAME" /><br>
		<p th:if="${#fields.hasErrors('civilite')}" th:errors="*{civilite}"></p>
		<label> Nom</label><input type="text" th:field="*{nom}" /><br>
		<p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></p>
		<label> Prenom</label><input type="text" th:field="*{prenom}" /><br>
		<p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></p>
		<label> Date de naissance</label><input type="text"
			th:field="*{dateDeNaissance}" /><br>
		<p th:if="${#fields.hasErrors('dateDeNaissance')}"
			th:errors="*{dateDeNaissance}"></p>
		<label> Numero de telephone</label><input type="text"
			th:field="*{tel}" /><br>
		<p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}"></p>
		<label> Email</label><input type="text" th:field="*{email}" /><br>
		<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
		<label> Code de postale</label><input type="text" th:field="*{cp}" /><br>
		<p th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}"></p>
		<label> Ville</label><input type="text" th:field="*{ville}" /> <br>
		<p th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></p>
		<input type="submit" value="envoyer">
	</form>
</body>
</html>